/* ===== Fonts ===== */
@font-face {
    font-family: "PPMori";
    src: url("./assets/fonts/PPMori-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PPMori";
    src: url("./assets/fonts/PPMori-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "PPMori";
    src: url("./assets/fonts/PPMori-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "PPMori";
    src: url("./assets/fonts/PPMori-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

/* ===== Global reset ===== */
:root {
    font-family: "PPMori", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #111;
    background-color: #fff;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

    /* IMPORTANT: ne centre pas tout le site */
body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

    /* Liens */
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
